body {
    background: url(../img/favicon.ico);
    background-size: auto;
}

.login-pf body {
    background: #f0f0f0 repeat-x 50% 0;
    background-size: auto;
}

.card-pf {
    margin: 0 auto;
    box-shadow: var(--pf-global--BoxShadow--lg);
    padding: 0 20px;
    max-width: 500px;
    border-top: 4px solid;
    border-color: rgb(61, 210, 186);
}

#kc-header-wrapper {
    background: url(../img/wallapop-positive-logotype.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 62px 10px 20px;
    white-space: normal;
    color: rgb(0,0,0,0);
}

.pf-c-button.pf-m-primary {
    color: var(--pf-c-button--m-primary--Color);
    background-color: rgb(61, 210, 186);
}

#kc-page-title {
font-size: x-large;
}
